.card {
  display: block;
  padding: $base-padding;
  border: $border-width solid #ddd;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;

  &-title {
    font-size: $fs-7;
    font-weight: $font-weight-bold;
    margin-bottom: $base-margin;
  }

  &-body {
    font-size: $fs-base;
    a {
      text-decoration: underline;
    }
  }
}