
<%- include('./partials/header.ejs', { title: 'TOP' }) %>
<div class="container">
  <h1>webpack 4 專案</h1>
  <div class="card">
    <p class="text-primary text-hover-secondary">212</p>
    <button class="btn-outline-primary p-3">
      123
    </button>
    <p class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, animi dolorum? Ullam ex animi quaerat quibusdam nemo assumenda odit! Earum.</p>
  </div>
  <div class="row g-2">
    <div class="col-4">
      <div class="card">123</div>
    </div>
    <div class="col-4">
      <div class="card">123</div>
    </div>
    <div class="col-4">
      <div class="card">123</div>
    </div>
    <div class="col-4">
      <div class="card">123</div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>